.App .body .delete-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    backdrop-filter:  brightness(75%);
    padding: 2rem;
}

.App .body .delete-container .delete-user{
    flex-basis: 419px;
    background-color: #fff;
    padding: 2rem;
}

.App .body .delete-container .delete-user h2{
    line-height: var(--title-h2-height);
    font-size: var(--title-h2-size);
    color: var(--titles)
}

.App .body .delete-container .delete-user p{
    line-height: var(--p-height);
    font-size: var(--text-body-size);
    margin-bottom: 28px;
}

.App .body .delete-container .delete-user button{
    width: 100%;
    color: #fff;
    background-color: var(--btn-create-bk);
    border: none;
    padding: 0.8rem;
    cursor: pointer;
}